{% extends 'base.html'%}

{% block title%}
Ultimate Frisbee
{% endblock%}

{% block content%}
<!--content for ultimate frisbee page-->
<div class='container-fluid'>
    <div class='ult row'>
        <div class='fris col'>
            <h1>Ultimate Frisbee</h1>
            <h2>What is it?</h2>
        </div>
        <div class='summary row'>
            <ul class='bullet col'>
                <li>It's a sport that takes elements from football, soccer, and basketball where instead of using a ball, a disc is used.</li>
                <li>It's played on a field similar to that of a football field.</li>
                <li>Each team has seven people. One team will start on offense while the other starts on defense. Both teams will begin on opposite end zones.</li>
                <li>A 'kick-off' starts the game off with the team on defense pulling the disc to the team on offense.<li>
                <li>Members of the offensive team must move the disc towards the defense's end zone by passing the disc to one another.</li>
                <li>Once a team member has the disc, he/she cannot move until he/she passes the disc to another teammate. Otherwise, travelling occurs and the disc is sent back to the person who travelled.</li>
                <li>Teammates on defense try to prevent the other team from scoring by either intercepting the thrown disc, forcing bad passes, or by stall counting to 10.</li>
                <li>One person on defense can come up to a person who has the disc and stall count them up to 10 and try to block the disc from this same person.</li>
                <li>This person cannot touch the person who has the disc or a foul is called. However, if they manage to count to 10 before the person throws the disc, it is a turnover.</li>
                <li>If a turnover occurs, the defense now becomes the offense and vice versa. Now the new offense team works the disc the opposite way to try and score.</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <img src='https://i.ytimg.com/vi/aNCuZJe1zQk/maxresdefault.jpg'>
</div>
{% endblock %}
